<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moss.server.dao.SysMenuDao" >


    <insert id="add" useGeneratedKeys="true" keyProperty="id">
      insert into tb_sys_menu (pid, icon, index, title, flag, create_time, remark, type)
      values (#{pid}, #{icon}, #{index}, #{title}, #{flag}, now(), '', #{type})
    </insert>

    <delete id="del">
        delete from tb_sys_menu where id = #{id}
    </delete>

    <update id="update">
        update tb_sys_menu set
          pid = #{pid},
          icon = #{icon},
          index = #{index},
          title = #{title},
          flag = #{flag},
          type = #{type},
          remark = #{remark}
        where id = #{id}
    </update>

    <select id="list" resultType="com.moss.server.model.SysMenu">
        select t.id, t.pid, t.icon, t.index, t.title, t.flag, t.create_time, t.remark, t.type, tm.title ptitle
        from tb_sys_menu t
        left join tb_sys_menu tm on t.pid = tm.id
        order by id desc
    </select>

    <select id="listByUser" resultType="com.moss.server.model.SysMenu">
        select t.id, t.pid, t.icon, t.index, t.title, t.flag, t.type, t.create_time, t.remark
        from tb_sys_menu t
        <if test="userId != 1">
            inner join
            (select tp.* from tb_sys_permis tp
            where tp.owner_id = #{userId} and tp.flag = '2'
            union
            select tp.* from tb_sys_permis tp
            inner join tb_sys_role tr on tp.owner_id = tr.id and tp.flag = '3'
            inner join tb_sys_permis tur on tur.permis_id = tr.id and tur.flag = '1'
            where tur.owner_id = #{userId}
            union
            select tp.* from tb_sys_permis tp
            inner join tb_sys_dept tud on tp.owner_id = tud.id and tp.flag = '4'
            inner join tb_sys_user tu on tud.id = tu.dept_id
            where tu.id = #{userId})
            tp on tp.permis_id = t.id
        </if>
        where t.flag = '0' and t.type = '0'
        order by id desc
    </select>


</mapper>