<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moss.server.dao.SysPermisDao" >


    <select id="getMenuAndFunc" resultType="com.moss.server.model.SysMenu">
        select id , pid, title, type from tb_sys_menu
        where flag = '0'
    </select>

    <insert id="add">
        insert into tb_sys_permis(owner_id, permis_id, flag, create_time, remark)
        values (#{ownerId}, #{menuId}, #{flag}, now(), '')
    </insert>

    <delete id="delByOwner">
        delete from tb_sys_permis where owner_id = #{ownerId} and flag = #{flag}
    </delete>

    <select id="getByOwner" resultType="java.lang.Integer">
        select permis_id from tb_sys_permis
        where owner_id = #{ownerId} and flag =  #{flag}
        <if test="flag != 1">
            and permis_id in(select id from tb_sys_menu t
            where not exists (select 1 from tb_sys_menu t2 where t.id = t2.pid))
        </if>
    </select>


</mapper>