<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moss.server.dao.SysRoleDao" >


    <insert id="add" useGeneratedKeys="true" keyProperty="id">
      insert into tb_sys_role (name, flag, create_time, remark)
      values (#{name}, #{flag}, now(), '')
    </insert>

    <delete id="del">
        delete from tb_sys_role where id = #{id}
    </delete>

    <update id="update">
        update tb_sys_role set
          name = #{name},
          flag = #{flag},
          remark = #{remark}
        where id = #{id}
    </update>

    <select id="list" resultType="com.moss.server.model.SysRole">
        select id, name, flag, create_time, remark
        from tb_sys_role t
        <where>
            <if test="name != null">
                t.name = #{name}
            </if>
        </where>
        order by id desc
    </select>

    <select id="listByUser" resultType="com.moss.server.model.SysRole">
        select id, name, flag, create_time, remark
        from tb_sys_role t
        order by id desc
    </select>


</mapper>