<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moss.server.dao.SysUserDao" >

    <select id="login"  resultType="com.moss.server.model.SysUser">
      select t.id, t.dept_id, t.nickname, t.sex, t.age, t.pwd, t.account, t.phone, t.email, t.idnumber, t.address, t.money, t.integral, t.head, t.flag, t.create_time, t.remark, td.name deptName
      from tb_sys_user t
      left join tb_sys_dept td on t.dept_id = td.id
      where account = #{account}
    </select>

    <select id="getUserPermis"  resultType="java.lang.String">
        select t.index
        from tb_sys_menu t
        <if test="_parameter != 1">
            inner join
            (select tp.* from tb_sys_permis tp
            where tp.owner_id = #{userId} and tp.flag = '2'
            union
            select tp.* from tb_sys_permis tp
            inner join tb_sys_role tr on tp.owner_id = tr.id and tp.flag = '3'
            inner join tb_sys_permis tur on tur.permis_id = tr.id and tur.flag = '1'
            where tur.owner_id = #{userId}
            union
            select tp.* from tb_sys_permis tp
            inner join tb_sys_dept tud on tp.owner_id = tud.id and tp.flag = '4'
            inner join tb_sys_user tu on tud.id = tu.dept_id
            where tu.id = #{userId})
            tp on tp.permis_id = t.id
        </if>
        where t.flag = '0' and t.type = '1'
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
      insert into tb_sys_user(dept_id, nickname, sex, age, pwd, account, phone, email,
       idnumber, address, money, integral, head, flag, create_time, remark)
      values (#{deptId}, #{nickname}, #{sex}, #{age}, #{pwd}, #{account}, #{phone}, #{email},
         #{idnumber}, #{address}, 0, 0, #{head}, '0', now(), #{remark} )
    </insert>

    <delete id="del">
        delete from tb_sys_user where id = #{id}
    </delete>

    <update id="update">
        update tb_sys_user set
          nickname = #{nickname},
          dept_id = #{deptId},
          sex = #{sex},
          age = #{age},
          phone = #{phone},
          email = #{email},
          idnumber = #{idnumber},
          address = #{address},
          head = #{head},
          remark = #{remark}
        where id = #{id}
    </update>

    <update id="updateFlag">
        update tb_sys_user set
          flag = #{flag}
        where id = #{id}
    </update>

    <select id="list" resultType="com.moss.server.model.SysUser">
        select t.id, t.dept_id, t.nickname, t.sex, t.age, t.pwd, t.account, t.phone, t.email,
        t.idnumber, t.address, t.money, t.integral, t.head, t.flag, t.create_time, t.remark, td.name deptName
        from tb_sys_user t
        left join tb_sys_dept td on t.dept_id = td.id
        <where>
            <if test="flag != null">
                and t.flag = #{flag}
            </if>
            <if test="deptId != null">
                and t.dept_id = #{deptId}
            </if>
        </where>
        <where>
            <if test="idnumber != null">
                and (t.idnumber = #{idnumber}
            </if>
            <if test="account != null">
                or t.account = #{account}
            </if>
            <if test="nickname != null">
                or t.nickname = #{nickname}
            </if>
            <if test="phone != null">
                or t.phone = #{phone})
            </if>
        </where>
        order by id desc
    </select>

</mapper>